<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink ="/user">Github Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item active">
         <a class="nav-item nav-link active" routerLink="/user" routerLinkActive='active'>Github</a>
        </li>
      <li>
        <a class="nav-item nav-link" routerLink="/user" routerLinkActive='active'>About</a>
      </li>
      </ul>
    </div>
  </nav>
  