 <div class="container">
 <div class="jumbotron">
    <h1 class="display-4 text-center bg-primary" >Search your Github Account</h1>
    <hr class="my-4">
    <h5 class="lead text-center">Below is a search field that lets you search your github ccount and view your repositories.</h5>
  </div>
<div id="form"> 
 <input class="form-control" name="userName" type="text" placeholder="Search"
aria-label="Search" [(ngModel)]="username" name="username " (keyup)="findUser()">
</div>

    <div class="row">
    <div class="col-md-6">
        <div *ngIf = 'profile'>
             {{profile.name}} <small>{{profile.login}}</small>
        <div>
            <img src="{{profile.avatar_url}}" alt="">
        </div>
        <!-- <div> {{profile.public_repos}}</div> -->
    </div>
    </div>
    <div class="crad" style="width: 18rem;">
    <div class="card-body">
        <div *ngFor = 'let repo of repos'>
            <h4 class="card-title">{{repo.name}}</h4> 
        <p class="card-text"> {{repo.description}} </p>
    <a href="{{repo.repos_url}}" class="btn btn-primary"> view in github</a> 
    </div>
    </div>
    </div>
</div>

</div>
